LAMPA_IMAGE=ghcr.io/astronaut808/lampa-source
LAMPA_METRICS_IMAGE=ghcr.io/astronaut808/lampa-source-metrics
LAMPA_TAG=latest
LAMPA_BIND_ADDRESS=0.0.0.0
LAMPA_PORT=8090
IMAGE_TAG=local
BUILD_REVISION=local
LAMPA_CUB_TELEMETRY_ENABLED=false
LAMPA_BUILTIN_ADS_ENABLED=false
LAMPA_SHOTS_ENABLED=false
